@font-face {
    font-family: 'OCRAStd';
    src: url('assets/fonts/OCRAStd.otf') format('opentype');
}

body {
    margin: 0;
    background-color: #000;
    color: #ff3131;
    font-family: 'OCRAStd', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto); /* Solo 2 columnas para tus 2 números */
    gap: 30px;
}

.grid-item {
    color: #ff3131;
    text-decoration: none;
    font-size: 1.2rem; /* Tamaño estándar, nada de gigante */
    /* Sin efectos de hover ni transiciones */
}